/* ----- classy ------ */

:root {
  --projectCabBackground: rgb(255, 255, 255);
  --projectCabBackground2: rgb(0, 0, 0);
  --projectCabBackground3: rgb(0, 0, 0);
  --projectCabTextBackground: rgb(0, 0, 0);
  --projectCabGuilds: rgb(27, 26, 31);
  --projectCabFauxTitleBar: rgb(0, 0, 0);
  --projectCabTitleBar: rgb(0, 0, 0);
  --projectCabHover: var(--accent-focused);
}

/* colors */

:root {
  --accent: rgb(124, 124, 124);
  --accent-hover: rgb(124, 124, 124, 0.977);
  --accent-selected: rgba(124, 124, 124, 0.216);
  --accent-focused: rgb(124, 124, 124, 0.200);
  --accent-titles: rgba(198, 168, 55, 1);
  --borders: rgb(255, 255, 255)  2px dotted;
}

.theme-dark .username__0b0e7, .theme-dark .messageContent_abea64, .header_abc647, .marginBottom20__9fcf3, .username_d272d6, .typing__6fd1d, .username__267df, .text_bd79a3, .title_c42cad, .header_c56a27, .textContent_e33074, .subtext__72c72, .cozy_f5c119 .messageContent_abea64, .username__0b0e7,.username__267df, .header_c56a27, .title_c42cad, .text_bd79a3 {
       color: black;
}

.circleIconButton__05cf2, .childWrapper_a6ce15, .button_b82d53.buttonColor__7bad9, .button_b82d53 .buttonColor__7bad9, .root__3eef0, .circleIconButton__05cf2, .ring__349e5,.section__253ec:only-child {
  background-color: black;
}
