/* ----- classy ------ */

:root {
  --projectCabBackground: rgb(255, 255, 255);
  --projectCabBackground2: rgb(0, 0, 0);
  --projectCabBackground3: rgb(0, 0, 0);
  --projectCabTextBackground: rgb(0, 0, 0);
  --projectCabGuilds: rgb(27, 26, 31);
  --projectCabFauxTitleBar: rgb(0, 0, 0);
  --projectCabTitleBar: rgb(0, 0, 0);
  --projectCabHover: var(--accent-focused);
}

/* colors */

:root {
  --accent: rgb(124, 124, 124);
  --accent-hover: rgb(124, 124, 124, 0.977);
  --accent-selected: rgba(124, 124, 124, 0.216);
  --accent-focused: rgb(124, 124, 124, 0.200);
  --accent-titles: rgba(198, 168, 55, 1);
  --borders: rgb(255, 255, 255)  2px dotted;
}

.theme-dark .username_ec86aa, .theme-dark .messageContent_ec86aa, .header_c2668b, .marginBottom20_f7730b, .username_d272d6, .typing_d7ebeb, .username_f3939d, .text_f7ebfd, .title_a1cafe, .header_bf550a, .textContent_cd82a7, .subtext_f3939d, .cozy_ec86aa .messageContent_ec86aa, .username_ec86aa,.username_f3939d, .header_bf550a, .title_a1cafe, .text_f7ebfd {
       color: black;
}

.circleIconButton_db6521, .childWrapper_a6ce15, .button_adcaac.buttonColor_adcaac, .button_adcaac .buttonColor_adcaac, .root_dd069c, .circleIconButton_db6521, .ring_dcc7a4,.section_cd82a7:only-child {
  background-color: black;
}
