 /* ----- hallows ----- */
 :root {
    --projectCabBackground: rgba(15, 17, 28, 1);
    --projectCabBackground2: rgba(6, 8, 13, 1);
    --projectCabTextBackground: rgb(0, 0, 0);
    --projectCabFauxTitleBar: rgba(6, 8, 13, 1);
    --projectCabTitleBar: rgba(11, 13, 20, 1);
    --projectCabHover: var(--accent-focused);
  }
  
  /* colors */
  
  .theme-dark {
    --accent: rgba(237, 115, 46, 1);
    --accent-hover: rgb(237, 115, 46, 0.977);
    --accent-selected: rgba(237, 115, 46, 0.216);
    --accent-focused: rgb(237, 115, 46, 0.200);
    --borders: rgba(237, 115, 46, 1) 2px dotted;
  }
  
  
  .theme-dark .username-h_Y3Us, .theme-dark .messageContent-2t3eCI, .header-1dhDWV, .marginBottom20-315RVT, .username-3_PJ5r {
    color: rgb(255, 255, 255);
  }
  
  .circleIconButton-1VxDrg, .childWrapper-1j_1ub, .button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX, .root-22AK9z {
    background-color: black;
  }
