 /* ----- hallows ----- */
 :root {
    --projectCabBackground: rgba(15, 17, 28, 1);
    --projectCabBackground2: rgba(6, 8, 13, 1);
    --projectCabTextBackground: rgb(0, 0, 0);
    --projectCabFauxTitleBar: rgba(6, 8, 13, 1);
    --projectCabTitleBar: rgba(11, 13, 20, 1);
    --projectCabHover: var(--accent-focused);
  }
  
  /* colors */
  
  .theme-dark {
    --accent: rgba(237, 115, 46, 1);
    --accent-hover: rgb(237, 115, 46, 0.977);
    --accent-selected: rgba(237, 115, 46, 0.216);
    --accent-focused: rgb(237, 115, 46, 0.200);
    --borders: rgba(237, 115, 46, 1) 2px dotted;
  }
  
  
  .theme-dark .username_f9f2ca, .theme-dark .messageContent_f9f2ca, .header_c2668b, .marginBottom20_f7730b, .username_d272d6 {
    color: rgb(255, 255, 255);
  }
  
  .circleIconButton_db6521, .childWrapper_a6ce15, .button_adcaac.buttonColor_adcaac, .button_adcaac .buttonColor_adcaac, .root_dd069c {
    background-color: black;
  }
