 /* ----- hallows ----- */
 :root {
    --projectCabBackground: rgba(15, 17, 28, 1);
    --projectCabBackground2: rgba(6, 8, 13, 1);
    --projectCabTextBackground: rgb(0, 0, 0);
    --projectCabFauxTitleBar: rgba(6, 8, 13, 1);
    --projectCabTitleBar: rgba(11, 13, 20, 1);
    --projectCabHover: var(--accent-focused);
  }
  
  /* colors */
  
  .theme-dark {
    --accent: rgba(237, 115, 46, 1);
    --accent-hover: rgb(237, 115, 46, 0.977);
    --accent-selected: rgba(237, 115, 46, 0.216);
    --accent-focused: rgb(237, 115, 46, 0.200);
    --borders: rgba(237, 115, 46, 1) 2px dotted;
  }
  
  
  .theme-dark .username__0b0e7, .theme-dark .messageContent_abea64, .header_abc647, .marginBottom20__9fcf3, .username_d272d6 {
    color: rgb(255, 255, 255);
  }
  
  .circleIconButton__05cf2, .childWrapper_a6ce15, .button_b82d53.buttonColor__7bad9, .button_b82d53 .buttonColor__7bad9, .root__3eef0 {
    background-color: black;
  }
