@font-face {
       font-family: "Nintendo DS BIOS Regular";
       src: url("https://db.onlinewebfonts.com/t/1888b71aa651100801cb2e473433f5ec.eot");
       src: url("https://db.onlinewebfonts.com/t/1888b71aa651100801cb2e473433f5ec.eot?#iefix")format("embedded-opentype"),
              url("https://db.onlinewebfonts.com/t/1888b71aa651100801cb2e473433f5ec.woff2")format("woff2"),
              url("https://db.onlinewebfonts.com/t/1888b71aa651100801cb2e473433f5ec.woff")format("woff"),
              url("https://db.onlinewebfonts.com/t/1888b71aa651100801cb2e473433f5ec.ttf")format("truetype"),
              url("https://db.onlinewebfonts.com/t/1888b71aa651100801cb2e473433f5ec.svg#Nintendo DS BIOS Regular")format("svg");
}

* {
       --font-primary: Nintendo DS BIOS Regular;
       --font-display: Nintendo DS BIOS Regular;
       --font-headline: Nintendo DS BIOS Regular;
}

.messageContent_f9f2ca {
       font-size: 20px;
}

.compact_f9f2ca .headerText_f9f2ca,
.cozy_f9f2ca .headerText_f9f2ca,
.roleDot_f9f2ca,
.username_f9f2ca,
.container_fc4f04,
.container_fc4f04 *,
.name_ec8679,
.headerText_c47fa9,
.searchBar_f0963d .searchBarComponent_f0963d,
.fontSize16Padding_d0696b,
.numberBadge__40d6f,
.labelContainer_d90b3d,
.side_a0 .item_a0,
.description_b89ec7,
.labelDescriptor_b89ec7,
.h5_c46f6a,
.label_c46f6a,
.legend_c46f6a,
.app_a01fb1 button,
.title_d1da5f,
.name_d8bfb3,
.base_d7ebeb .text_d7ebeb,
.overflow_a82120,
.name_fd6364,
.repliedTextPreview_f9f2ca.clickable_f9f2ca,
.executedCommand_f9f2ca .applicationName_d60e66,
.executedCommand_f9f2ca .commandName_f9f2ca,
.executedCommand_f9f2ca .username_f9f2ca,
.repliedMessage_f9f2ca .roleDot_f9f2ca,
.repliedMessage_f9f2ca .username_f9f2ca,
.threadMessageAccessory_f9f2ca .username_f9f2ca,
.cozy_f9f2ca .timestamp_f9f2ca,
.embedAuthor_b0068a,
.embedDescription_b0068a,
.embedFields_b0068a,
.embedFooter_b0068a,
.embedMedia_b0068a,
.embedProvider_b0068a,
.embedTitle-2n1pE,
.overlayBackground_c69a7b * {
       font-size: 20px;
}

.container-q97qHp {
       font-size: 15px;
}


/* Monospace Font */

@font-face {
       font-family: 'monogram';
       src: url("https://menez.io/css/font/monogram_extended.ttf") format('truetype');
}

code,
.codeBlockText_cdb578,
.codeLine_cdb578,
.markup_f8f345 code.inline,
.after_inlineCode_cdb578,
.before_inlineCode_cdb578,
.inlineCode_cdb578,
.markup_f8f345 code {
       font-family: "monogram", monospace;
       font-size: 20px;
}
