@font-face {
       font-family: "Nintendo DS BIOS Regular";
       src: url("https://db.onlinewebfonts.com/t/1888b71aa651100801cb2e473433f5ec.eot");
       src: url("https://db.onlinewebfonts.com/t/1888b71aa651100801cb2e473433f5ec.eot?#iefix")format("embedded-opentype"),
              url("https://db.onlinewebfonts.com/t/1888b71aa651100801cb2e473433f5ec.woff2")format("woff2"),
              url("https://db.onlinewebfonts.com/t/1888b71aa651100801cb2e473433f5ec.woff")format("woff"),
              url("https://db.onlinewebfonts.com/t/1888b71aa651100801cb2e473433f5ec.ttf")format("truetype"),
              url("https://db.onlinewebfonts.com/t/1888b71aa651100801cb2e473433f5ec.svg#Nintendo DS BIOS Regular")format("svg");
}

* {
       --font-primary: Nintendo DS BIOS Regular;
       --font-display: Nintendo DS BIOS Regular;
       --font-headline: Nintendo DS BIOS Regular;
}

.messageContent_abea64 {
       font-size: 20px;
}

.compact_eda3c8 .headerText_bd68ec,
.cozy_f5c119 .headerText_bd68ec,
.roleDot_f86e49,
.username__0b0e7,
.container__26baa,
.container__26baa *,
.name_f842e4,
.headerText__88997,
.searchBar__621ec .searchBarComponent__8f95f,
.fontSize16Padding_bcbeae,
.numberBadge__40d6f,
.labelContainer__4f869,
.side_b4b3f6 .item__48dda,
.description_b0e07c,
.labelDescriptor__09faf,
.h5__28baa,
.label_bf6957,
.legend__2459b,
.app_de4237 button,
.title__4a7a9,
.name__4eb92,
.base__06abc .text_eb454c,
.overflow__993fa,
.name_e8e549,
.repliedTextPreview__1a8a4.clickable__09456,
.executedCommand__4fb1a .applicationName_d60e66,
.executedCommand__4fb1a .commandName_fd97e7,
.executedCommand__4fb1a .username__0b0e7,
.repliedMessage__636d2 .roleDot_f86e49,
.repliedMessage__636d2 .username__0b0e7,
.threadMessageAccessory_ef0459 .username__0b0e7,
.cozy_f5c119 .timestamp_c79dd2,
.embedAuthor__3e899,
.embedDescription_f5043f,
.embedFields__8cb40,
.embedFooter_c26cec,
.embedMedia__4e169,
.embedProvider_f3e807,
.embedTitle-2n1pE,
.overlayBackground__2666e * {
       font-size: 20px;
}

.container-q97qHp {
       font-size: 15px;
}


/* Monospace Font */

@font-face {
       font-family: 'monogram';
       src: url("https://menez.io/css/font/monogram_extended.ttf") format('truetype');
}

code,
.codeBlockText_bcfd01,
.codeLine__10acb,
.markup_a7e664 code.inline,
.after_inlineCode__59586,
.before_inlineCode__48f7c,
.inlineCode__0cacf,
.markup_a7e664 code {
       font-family: "monogram", monospace;
       font-size: 20px;
}
