/* SVGS */
.icon__4cb88 {
  color: var(--accent) !important;
}

/* Square Off */
* {
  border-radius: 0 !important;
}

.scrollerBase_dc3aa9::-webkit-scrollbar-thumb,
.scrollerBase_dc3aa9::-webkit-scrollbar-track,
.webkit__8d35a::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.activitySectionAssets_ea2444 .largeImageMask__4012f,
.assetWrapperMasked__20115,
.assetsLargeMaskStreamPreview__741af,
.assetsLargeMaskUserPopout__82136,
.assetsLargeMaskUserPopoutV2_a90d5f,
.assetsLargeMaskVoiceChannel__82080,
.inspectedIndicator_f00108,
.loadingIndicator__6b1b4,
.mask-2Me5HY rect,
foreignObject[mask*="url(#"] {
  mask: none;
  -webkit-mask: none;
}

/* The faux title bar itself */
.typeMacOS__496b0 {
  position: relative;
  width: 100%;
  height: 35px;
}

.theme-dark .typeMacOS__496b0 {
  background: var(--projectCabFauxTitleBar);
}

.platform-osx .wrapper_a7e7a8 {
  margin: 0;
  padding: 0;
}

/* Title Bar */
.theme-dark .themed_b152d4 {
  background-color: var(--projectCabTitleBar);
  border-bottom: var(--borders);
}

.theme-dark .children__32014:after {
  display: none;
}

/* Chat Text Box Entering Area */
.scrollableContainer__33e06 {
  border: var(--borders);
  padding-bottom: 2px;
}

.theme-dark .form__13a2c:before {
  display: none;
}

.theme-dark .autocomplete_df266d {
  background-color: var(--projectCabBackground2);
  border: var(--borders);
}

/* Sidebar */
.scroller__4b984,
.container_ca50b9,
.scroller_f0f183,
.container_d667ff,
.container_ca50b9 {
  border-right: var(--borders);
}

.chatContent__5dca8 {
  min-height: 0;
  overflow: hidden;
}

/* Scroll Bar */
.auto_a48086::-webkit-scrollbar {
  display: none;
}

/* Buttons */
.wrapper_c727b6 {
  background: black;
}

/* New Messages Bar*/
.newMessagesBar__8b6d7 {
       margin-top: 3px;
       border: var(--borders);
       background-color: var(--projectCabBackground);
}

/* Channel */
.modeSelected__487d6 .link__95dc0,
.modeSelected__487d6:hover .link__95dc0,
.interactiveSelected_ec846b {
  border: var(--borders);
}

.membersWrap__90226 {
  border: var(--borders);
  margin: 10px;
}

.container_b2ce9c,
.membersWrap__90226 {
  background-color: var(--projectCabBackground);
}

/* Quick User Settings */
.button__4f306 {
  color: var(--accent);
}

/* Call DMs */
.root__3eef0 {
  background-color: var(--projectCabBackground);
}

/* Context Menu */
.scroller__750f5 {
  background-color: var(--projectCabBackground2);
  border: var(--borders);
}

/* Pins */
.messagesPopoutWrap_b3b384, .messageGroupWrapper_f8c6e9 .messageGroupCozy__2dedd {
  background-color: var(--projectCabBackground2);
  border: var(--borders);
}

.footer_a3029c,
.header_f5cc88 {
  background-color: var(--projectCabBackground2);
}

/* Inbox */
.channelHeader__5d30c,
.messageContainer_aa7d14 {
  background-color: var(--projectCabBackground2);
}

/* Emojis */
.contentWrapper__321ed {
  background-color: var(--projectCabBackground2);
  border: var(--borders);
}

.header_c3c744,
.inspector__993e1,
.unicodeShortcut__1dd6b,
.emojiPickerHasTabWrapper__80686 .categoryList_f8c48f,
.categoryItemDefaultCategorySelected__8245a,
.categoryItemDefaultCategorySelected__8245a:hover {
  background-color: var(--projectCabBackground2);
}

/* TROPICAL - CHECKBOXES - SLATE THEME - https://github.com/DiscordStyles/Slate/blob/master/LICENSE.md */
/* epic */
#app-mount .container__871ba,
.input_be50d1,
#app-mount .container__871ba,
.input_be50d1,
#app-mount .checkboxWrapper-2fDzaA .input-2XRLou,
#app-mount .checkboxWrapper-2fDzaA .input-3xr72x {
    margin: 0;
    opacity: 1;
    height: 14px !important;
    width: 14px !important;
    position: relative;
    cursor: var(--cursor);
    -webkit-appearance: checkbox;
    appearance: checkbox;
    box-shadow: inset -1px -1px #fff, inset 1px 1px rgb(255, 255, 255), inset -2px -2px #ffffff, inset 2px 2px #ffffff;
}

#app-mount .container__871ba,
#app-mount .checkboxWrapper-2fDzaA {
    width: auto;
    border-radius: 0;
    background: transparent !important;
    display: flex;
    align-items: center;
    box-shadow: none;
    -webkit-box-shadow: none;
    cursor: var(--cursor);
}

input[type="checkbox"] {
    accent-color: rgb(0, 0, 0);
}

#app-mount .container__871ba .slider__41d94,
#app-mount .checkboxWrapper-2fDzaA .slider__41d94 {
    display: none;
}

.theme-dark .checkbox-f1HnKB {
    display: none;
}

/* Popouts */
.popoutContainer__7b9a3,
.popoutContent__9c53d,
.messages_f7999e,
.container__20de0,
.container__23c08 {
       border: var(--borders);
       background-color: var(--projectCabBackground2);
}

.guildSection_ebda04,
.container__2c498 {
       background-color: var(--projectCabBackground2);
}

/* Activity Now */
.itemCard__1f162 {
       border: var(--borders);
}

/* User Popouts */
.userPanelOverlayBackground__34fc8,
.scroller__1c703 {
       border: var(--borders);
}

.scroller__1c703 {
       background-color: var(--projectCabBackground2);
}

/* Jump to Present Bar */
.jumpToPresentBar__0ff7f {
       border: var(--borders);
       background-color: var(--projectCabBackground2);
}

/* Code */
.grid_c7c4e6,
.markup_a7e664 code,
.attachment_f3cf2c,
.theme-dark .wrapperAudio__555ce,
.markup_a7e664 code.inline {
       border: var(--borders);
}
