/* SVGS */
.icon_ae0b42 {
  color: var(--accent) !important;
}

/* Square Off */
* {
  border-radius: 0 !important;
}

.scrollerBase_f742b2::-webkit-scrollbar-thumb,
.scrollerBase_f742b2::-webkit-scrollbar-track,
.webkit__8d35a::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.activitySectionAssets__11bc2 .largeImageMask__129d2,
.assetWrapperMasked_c4c689,
.assetsLargeMaskStreamPreview__6deed,
.assetsLargeMaskUserPopout_b94781,
.assetsLargeMaskUserPopoutV2_e54933,
.assetsLargeMaskVoiceChannel_bf5e1b,
.inspectedIndicator__0c5e3,
.loadingIndicator__22567,
.mask-2Me5HY rect,
foreignObject[mask*="url(#"] {
  mask: none;
  -webkit-mask: none;
}

/* The faux title bar itself */
.typeMacOS_cacc59 {
  position: relative;
  width: 100%;
  height: 35px;
}

.theme-dark .typeMacOS_cacc59 {
  background: var(--projectCabFauxTitleBar);
}

.platform-osx .wrapper__216eb {
  margin: 0;
  padding: 0;
}

/* Title Bar */
.theme-dark .themed_b152d4 {
  background-color: var(--projectCabTitleBar);
  border-bottom: var(--borders);
}

.theme-dark .children_cde9af:after {
  display: none;
}

/* Chat Text Box Entering Area */
.scrollableContainer_ff917f {
  border: var(--borders);
  padding-bottom: 2px;
}

.theme-dark .form_d8a4a1:before {
  display: none;
}

.theme-dark .autocomplete__743a5 {
  background-color: var(--projectCabBackground2);
  border: var(--borders);
}

/* Sidebar */
.scroller__89969,
.container_debb33,
.scroller__1f498,
.container_e1958d,
.container_debb33 {
  border-right: var(--borders);
}

.chatContent_f087cb {
  min-height: 0;
  overflow: hidden;
}

/* Scroll Bar */
.auto_a3c0bd::-webkit-scrollbar {
  display: none;
}

/* Buttons */
.wrapper__4e6b6 {
  background: black;
}

/* New Messages Bar*/
.newMessagesBar__8b272 {
       margin-top: 3px;
       border: var(--borders);
       background-color: var(--projectCabBackground);
}

/* Channel */
.modeSelected__473f1 .link_ddbb36,
.modeSelected__473f1:hover .link_ddbb36,
.interactiveSelected__689f0 {
  border: var(--borders);
}

.membersWrap__5ca6b {
  border: var(--borders);
  margin: 10px;
}

.container_f79ab4,
.membersWrap__5ca6b {
  background-color: var(--projectCabBackground);
}

/* Quick User Settings */
.button_ae40a4 {
  color: var(--accent);
}

/* Call DMs */
.root__3eef0 {
  background-color: var(--projectCabBackground);
}

/* Context Menu */
.scroller__8f066 {
  background-color: var(--projectCabBackground2);
  border: var(--borders);
}

/* Pins */
.messagesPopoutWrap__10dd1, .messageGroupWrapper__1fce2 .messageGroupCozy__9d016 {
  background-color: var(--projectCabBackground2);
  border: var(--borders);
}

.footer__6b9ef,
.header__21b33 {
  background-color: var(--projectCabBackground2);
}

/* Inbox */
.channelHeader_ea0f89,
.messageContainer_cb3d47 {
  background-color: var(--projectCabBackground2);
}

/* Emojis */
.contentWrapper_e0bb2c {
  background-color: var(--projectCabBackground2);
  border: var(--borders);
}

.header__3028e,
.inspector__80c84,
.unicodeShortcut__01a83,
.emojiPickerHasTabWrapper__63198 .categoryList_eac4ac,
.categoryItemDefaultCategorySelected__7d6e0,
.categoryItemDefaultCategorySelected__7d6e0:hover {
  background-color: var(--projectCabBackground2);
}

/* TROPICAL - CHECKBOXES - SLATE THEME - https://github.com/DiscordStyles/Slate/blob/master/LICENSE.md */
/* epic */
#app-mount .container__2ed72,
.input__3e05b,
#app-mount .container__2ed72,
.input__3e05b,
#app-mount .checkboxWrapper-2fDzaA .input-2XRLou,
#app-mount .checkboxWrapper-2fDzaA .input-3xr72x {
    margin: 0;
    opacity: 1;
    height: 14px !important;
    width: 14px !important;
    position: relative;
    cursor: var(--cursor);
    -webkit-appearance: checkbox;
    appearance: checkbox;
    box-shadow: inset -1px -1px #fff, inset 1px 1px rgb(255, 255, 255), inset -2px -2px #ffffff, inset 2px 2px #ffffff;
}

#app-mount .container__2ed72,
#app-mount .checkboxWrapper-2fDzaA {
    width: auto;
    border-radius: 0;
    background: transparent !important;
    display: flex;
    align-items: center;
    box-shadow: none;
    -webkit-box-shadow: none;
    cursor: var(--cursor);
}

input[type="checkbox"] {
    accent-color: rgb(0, 0, 0);
}

#app-mount .container__2ed72 .slider__41d94,
#app-mount .checkboxWrapper-2fDzaA .slider__41d94 {
    display: none;
}

.theme-dark .checkbox-f1HnKB {
    display: none;
}

/* Popouts */
.popoutContainer__66068,
.popoutContent__12232,
.messages__1aaa1,
.container_eb737e,
.container__23c08 {
       border: var(--borders);
       background-color: var(--projectCabBackground2);
}

.guildSection__15ac6,
.container_cdf5a8 {
       background-color: var(--projectCabBackground2);
}

/* Activity Now */
.itemCard_b64118 {
       border: var(--borders);
}

/* User Popouts */
.userPanelOverlayBackground__41589,
.scroller_e3927b {
       border: var(--borders);
}

.scroller_e3927b {
       background-color: var(--projectCabBackground2);
}

/* Jump to Present Bar */
.jumpToPresentBar__69174 {
       border: var(--borders);
       background-color: var(--projectCabBackground2);
}

/* Code */
.grid__35551,
.markup_a7e664 code,
.attachment__06ca3,
.theme-dark .wrapperAudio__178e9,
.markup_a7e664 code.inline {
       border: var(--borders);
}
