/* SVGS */
.icon-2xnN2Y {
  color: var(--accent) !important;
}

/* Square Off */
* {
  border-radius: 0 !important;
}

.scrollerBase-1Pkza4::-webkit-scrollbar-thumb,
.scrollerBase-1Pkza4::-webkit-scrollbar-track,
.webkit-QgSAqd::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.activitySectionAssets-1wpe42 .largeImageMask-2KA28T,
.assetWrapperMasked-1iw9lV,
.assetsLargeMaskStreamPreview--ugZjW,
.assetsLargeMaskUserPopout-3N96A8,
.assetsLargeMaskUserPopoutV2-2oZjbP,
.assetsLargeMaskVoiceChannel-3IlDCA,
.inspectedIndicator-27zwNZ,
.loadingIndicator-3fKdTZ,
.mask-2Me5HY rect,
foreignObject[mask*="url(#"] {
  mask: none;
  -webkit-mask: none;
}

/* The faux title bar itself */
.typeMacOS-zzjqOo {
  position: relative;
  width: 100%;
  height: 35px;
}

.theme-dark .typeMacOS-zzjqOo {
  background: var(--projectCabFauxTitleBar);
}

.platform-osx .wrapper-1_HaEi {
  margin: 0;
  padding: 0;
}

/* Title Bar */
.theme-dark .themed-Hp1KC_ {
  background-color: var(--projectCabTitleBar);
  border-bottom: var(--borders);
}

.theme-dark .children-3xh0VB:after {
  display: none;
}

/* Chat Text Box Entering Area */
.scrollableContainer-15eg7h {
  border: var(--borders);
  padding-bottom: 2px;
}

.theme-dark .form-3gdLxP:before {
  display: none;
}

.theme-dark .autocomplete-3NRXG8 {
  background-color: var(--projectCabBackground2);
  border: var(--borders);
}

/* Sidebar */
.scroller-WSmht3,
.container-YkUktl,
.scroller-1ox3I2,
.container-1zzFcN,
.container-1CH86i {
  border-right: var(--borders);
}

.chatContent-3KubbW {
  min-height: 0;
  overflow: hidden;
}

/* Scroll Bar */
.auto-2TJ1RH::-webkit-scrollbar {
  display: none;
}

/* Buttons */
.wrapper-2vIMkT {
  background: black;
}

/* New Messages Bar*/
.newMessagesBar-1hF-9G {
       margin-top: 3px;
       border: var(--borders);
       background-color: var(--projectCabBackground);
}

/* Channel */
.modeSelected-3DmyhH .link-1_kTxV,
.modeSelected-3DmyhH:hover .link-1_kTxV,
.interactiveSelected-29CP8y {
  border: var(--borders);
}

.membersWrap-3NUR2t {
  border: var(--borders);
  margin: 10px;
}

.container-2o3qEW,
.membersWrap-3NUR2t {
  background-color: var(--projectCabBackground);
}

/* Quick User Settings */
.button-12Fmur {
  color: var(--accent);
}

/* Call DMs */
.root-22AK9z {
  background-color: var(--projectCabBackground);
}

/* Context Menu */
.scroller-nxCRu_ {
  background-color: var(--projectCabBackground2);
  border: var(--borders);
}

/* Pins */
.messagesPopoutWrap-3zryHW, .messageGroupWrapper-1jf_7C .messageGroupCozy-3v_RqN {
  background-color: var(--projectCabBackground2);
  border: var(--borders);
}

.footer-5ji8u1,
.header-1w9Q93 {
  background-color: var(--projectCabBackground2);
}

/* Inbox */
.channelHeader-DFRX8q,
.messageContainer-3VTXBC {
  background-color: var(--projectCabBackground2);
}

/* Emojis */
.contentWrapper-3vHNP2 {
  background-color: var(--projectCabBackground2);
  border: var(--borders);
}

.header-1ULbqO,
.inspector-DFKXwB,
.unicodeShortcut-3N8oDe,
.emojiPickerHasTabWrapper-LoluYe .categoryList-2qRrlj,
.categoryItemDefaultCategorySelected-2YeRUu,
.categoryItemDefaultCategorySelected-2YeRUu:hover {
  background-color: var(--projectCabBackground2);
}

/* TROPICAL - CHECKBOXES - SLATE THEME - https://github.com/DiscordStyles/Slate/blob/master/LICENSE.md */
/* epic */
#app-mount .container-1QtPKm,
.input-125oad,
#app-mount .container-1QtPKm,
.input-125oad,
#app-mount .checkboxWrapper-2fDzaA .input-2XRLou,
#app-mount .checkboxWrapper-2fDzaA .input-3xr72x {
    margin: 0;
    opacity: 1;
    height: 14px !important;
    width: 14px !important;
    position: relative;
    cursor: var(--cursor);
    -webkit-appearance: checkbox;
    appearance: checkbox;
    box-shadow: inset -1px -1px #fff, inset 1px 1px rgb(255, 255, 255), inset -2px -2px #ffffff, inset 2px 2px #ffffff;
}

#app-mount .container-1QtPKm,
#app-mount .checkboxWrapper-2fDzaA {
    width: auto;
    border-radius: 0;
    background: transparent !important;
    display: flex;
    align-items: center;
    box-shadow: none;
    -webkit-box-shadow: none;
    cursor: var(--cursor);
}

input[type="checkbox"] {
    accent-color: rgb(0, 0, 0);
}

#app-mount .container-1QtPKm .slider-HJFN2i,
#app-mount .checkboxWrapper-2fDzaA .slider-HJFN2i {
    display: none;
}

.theme-dark .checkbox-f1HnKB {
    display: none;
}

/* Popouts */
.popoutContainer-2wbmiM,
.popoutContent-3RWpUF,
.messages-23can0,
.container-2ebMPP,
.container-_dQaft {
       border: var(--borders);
       background-color: var(--projectCabBackground2);
}

.guildSection-2Zyzy8,
.container-1A0qQO {
       background-color: var(--projectCabBackground2);
}

/* Activity Now */
.itemCard-3Etziu {
       border: var(--borders);
}

/* User Popouts */
.userPanelOverlayBackground-3Zmcq2,
.scroller-145h9c {
       border: var(--borders);
}

.scroller-145h9c {
       background-color: var(--projectCabBackground2);
}

/* Jump to Present Bar */
.jumpToPresentBar-1cEnH0 {
       border: var(--borders);
       background-color: var(--projectCabBackground2);
}

/* Code */
.grid-1aWVsE,
.markup-eYLPri code,
.attachment-1PZZB2,
.theme-dark .wrapperAudio-1Bzv_Z,
.markup-eYLPri code.inline {
       border: var(--borders);
}
